*.o
a.out
cpiral
*.pdf
massif.out.*
test
*.clang
*.gcc
*.clang++
*.g++
nauty25r9/
canon
spiralnauty
*.tar.gz
*~
\#*\#
.gdb_history
.idea/
*.out
*.json
*.txt

zig-cache/
zig-out/
.zigmod/
zigmod.lock

oprofile_data/